.icon-row {
  display: flex;
  flex-wrap: wrap;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  margin-bottom: 40px;
}

.icon-row__icon i {
  font-size: 40px;
}

.icon-row__icon span {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 500;
}
